<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "signup" %>
<% end %>

<% content_for :container do %>
  <%= form_for(resource, as: resource_name, url: sign_up_path, html: {class: "form-signup"}) do |f| %>
    <h2 class="form-signup-heading">Sign Up</h2>

    <%= f.label :email, class: "sr-only" %>
    <%= f.email_field :email, autofocus: true, placeholder: "Email address",  class: (resource.errors.full_messages_for(:email).any? ? "form-control is-invalid" : "form-control") %>
    <% resource.errors.full_messages_for(:email).each do |message| %>
      <span class="invalid-feedback"><%= message %></span>
    <% end %>

    <%= f.label :password, class: "sr-only", for: "password" %>
    <%= f.password_field :password, placeholder: "Password", class: (resource.errors.full_messages_for(:password).any? ? "form-control is-invalid" : "form-control") %>
    <% resource.errors.full_messages_for(:password).each do |message| %>
      <span class="invalid-feedback"><%= message %></span>
    <% end %>

    <%= f.label :password_confirmation, class: "sr-only", for: "confirm-password" %>
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: (resource.errors.full_messages_for(:password_confirmation).any? ? "form-control is-invalid" : "form-control")  %>
    <% resource.errors.full_messages_for(:password_confirmation).each do |message| %>
      <span class="invalid-feedback"><%= message %></span>
    <% end %>

    <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
  <% end %>
  <div class="login-register">
    <%= link_to "Login", login_path %>
  </div>
<% end %>
