<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "signup" %>
<% end %>
<!-- TODO Change error's render -->
<% content_for :container do %>
  <%= form_for(resource, as: resource_name, url: sign_up_path, html: {class: "form-signup"}) do |f| %>
    <h2 class="form-signup-heading">Sign Up</h2>

    <%= f.label :email, class: "sr-only" %>
    <%= f.email_field :email, autofocus: true, placeholder: "Email address", class: "form-control" %>

    <% if resource.errors[:email].any? %>
      <%= resource.errors[:email].join(", ") %>
    <% end %>

    <%= f.label :password, class: "sr-only", for: "password" %>
    <%= f.password_field :password, placeholder: "Password", class: "form-control", id: "password" %>

    <% if resource.errors[:password].any? %>
      <%= resource.errors[:password].join(", ") %>
    <% end %>

    <%= f.label :password_confirmation, class: "sr-only", for: "confirm-password" %>
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control", id: "confirm-password" %>

    <% if resource.errors[:password_confirmation].any? %>
      <%= resource.errors[:password_confirmation].join(", ") %>
    <% end %>

    <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
  <% end %>
  <div class="login-register">
    <%= link_to "Login", login_path %>
  </div>
<% end %>
